.btn-outline-success {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border-color: #000;
}

#go-top {
  background-color: rgba(0, 0, 0, 0.58);
  color: #fff;
  text-align: center;
  border: 0.1rem solid #000;
  position: fixed;
  bottom: 3.75rem;
  right: 1.25rem;
  padding: 0.625rem;
  display: none;
}
#go-top .go-top-text {
  font-size: 1.125rem;
}

.navbar {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.3125rem;
  padding: 0;
}

.navbar-nav {
  flex-direction: column;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  padding-right: 0.85rem;
}

header.banner {
  padding: 1.25rem 0 1.25rem 0;
  width: 100%;
  text-align: center;
  background-color: #000;
}

.header-heading {
  color: #fff;
}

.navbar-static-top {
  background-color: grey;
  transition: .7s;
}

.nav-justified > li {
  float: none;
}

.fixed-top {
  background-color: #000;
  transition: .7s;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: inherit;
}

footer {
  background-color: #000;
  color: #fff;
}

.login-form {
  color: #fff;
}

.input-field input {
  display: none;
}

.panel-heading i {
  float: right;
}

.accordion .card-header i.togglestate {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(0deg);
}

.accordion .card-header a.collapsed i.togglestate {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
