.btn-outline-success {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border-color: #000;
}

#go-top {
  background-color: rgba(0, 0, 0, 0.58);
  color: #fff;
  text-align: center;
  border: 0.1rem solid #000;
  position: fixed;
  bottom: 3.75rem;
  right: 1.25rem;
  padding: 0.625rem;
  display: none;
}
#go-top .go-top-text {
  font-size: 1.125rem;
}

.btn-outline {
  color: #0a1236;
  border-color: #0a1236;
  background-color: transparent;
}
.btn-outline a {
  color: #0a1236;
}

.btn-outline:hover {
  color: #fff;
  border-color: #0a1236;
  background-color: #0a1236;
}
.btn-outline:hover a {
  color: #fff;
}

.navbar {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.3125rem;
  padding: 0;
}

.navbar-nav {
  flex-direction: column;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  padding-right: 0.85rem;
}

header.banner {
  padding: 1.25rem 0 1.25rem 0;
  width: 100%;
  text-align: center;
  background-color: #0a1236;
}

@media (max-width: 576px) {
  header.banner {
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
  }

  .dropdown-menu {
    min-width: 14rem;
  }
}
.header-heading {
  color: #fff;
}

.navbar-static-top {
  background-color: #000;
  transition: .7s;
}

.nav-justified > li {
  float: none;
}

.fixed-top {
  background-color: #0a1236;
  transition: .7s;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: inherit;
}

.search-dropdown {
  width: auto;
  top: 100%;
  position: absolute;
  right: inherit;
}

@media (max-width: 576px) {
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
  }
}
footer {
  background-color: #0a1236;
  color: #fff;
  padding-bottom: 5rem;
}

.panel-heading i {
  float: right;
}

.accordion a {
  color: inherit;
}
.accordion a :hover {
  text-decoration: none;
}

.accordion .card-header i.togglestate {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.accordion .card-header a.collapsed i.togglestate {
  display: inline-block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.login-form {
  color: #fff;
}

.input-field input {
  display: none;
}

.task-card {
  border-color: #000;
}

.editable-text {
  background-color: #D3D3D3;
}

@media (max-width: 576px) {
  .nav-container {
    margin-left: 0;
  }
}
