.navbar {

  width: 100%;
  text-transform: uppercase;
  font-size: 1.3125rem;
  padding: 0;

}

.navbar-nav {
  flex-direction: column;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {

  color: #fff;
  padding-right: 0.85rem;
}

header.banner {
  padding: 1.25rem 0 1.25rem 0;
  width: 100%;
  text-align: center;
  background-color: $banner-background;
}

@media (max-width: 576px) {
  header.banner {
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
  }

  .dropdown-menu {
    min-width: 14rem;
  }

}

.header-heading {
  color: #fff;
}

.navbar-static-top {
  background-color: $static-nav-background;
  transition: .7s;
}

// Styles added when the navbar contracts

.nav-justified > li {

  float: none;

}

.fixed-top {
  background-color: $fixed-top-background;
  transition: .7s;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: inherit;
}

@media (max-width: 576px) {
  .dropdown-menu {
    position: absolute;
    top: 100%;
    //right: 0;
    left: 0;
  }
}
